/* Add this to your userChrome.css file. */

@namespace http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul;

/* * * * * * * * * zDark Context Menus * * * * * * * * */

:root {
--browser-background:#38383d
--uc-dark-bkgnd-color: #31363bcc !important;
--uc-light-bkgnd-color:#31363b99;
--uc-active-color:#404040;
--uc-text-color:#c3c6c9;
--uc-border-color:#31363b !important;
}

.PanelUI-subView .toolbaritem-combined-buttons > .subviewbutton:not(.subviewbutton-iconic) {
background-color:#06c!important;
border:0 solid #ffe1e1!important;
border-radius:6px!important;
padding:0 10px!important
}

panelview {
color:#fff!important
}

#widget-overflow-mainView > .panel-subview-body > toolbarseparator,.PanelUI-subView menuseparator,.PanelUI-subView toolbarseparator,.cui-widget-panelview menuseparator,.cui-widget-panel toolbarseparator {
margin:0
}

tabbrowser tabpanels {
background-color:var(--browser-background)!important
}

#context-navigation {
/*var(--uc-dark-bkgnd-color)*/
background-color:transparent!important;
}

#sidebar-box {
background-color:hsl(240,7%,5%)!important
}

toolbarbutton[checked="true"]:not([disabled="true"]) {
color:inherit!important
}

#sidebar-header,.sidebar-splitter {
border-color:hsl(240,3%,20%)!important
}

.sidebar-placesTree {
color:#aaa!important
}


#mainPopupSet menupopup menuitem,#mainPopupSet menupopup menu {
min-height:24px!important
}

.panel-arrowcontent,#placesContext,#alltabs-popup .arrowscrollbox-scrollbox,#contentAreaContextMenu,.textbox-contextmenu,#mainPopupSet menupopup,#bookmarks-menu-button menu menupopup {
border:1px solid var(--uc-border-color)!important;
background:var(--uc-dark-bkgnd-color)!important;
color:var(--uc-text-color)!important
}

#alltabs-popup menuitem,#bookmarks-menu-button menu menupopup .subviewbutton {
color:var(--uc-text-color)!important
}

#mainPopupSet menupopup,#mainPopupSet menupopup menuitem,#mainPopupSet menupopup menu,#alltabs-popup,#bookmarks-menu-button menu menupopup {
-moz-appearance:none!important;
border:none
}

.panel-subviews,#mainPopupSet menupopup,#bookmarks-menu-button menu menupopup > hbox,.search-panel-header.search-panel-current-engine,.search-panel-current-input,panelview,.PanelUI-subView {
background-color:var(--uc-dark-bkgnd-color)!important
}

#BMB_bookmarksPopup {
background-color:unset!important
}

.subviewbutton:hover,
#PanelUI-contents toolbarbutton:hover {
background-color:rgb(0,102,204)!important
}
#mainPopupSet menupopup menuitem:hover {
background-color:#06a!important
}
#mainPopupSet menupopup menu:hover {
background-color:#09f!important
}
#PanelUI-footer toolbarbutton:not(#PanelUI-quit):hover {
background-color:#f00!important
}

#PanelUI-footer *,panelview toolbarbutton.subviewbutton .toolbarbutton-text,#downloadsFooter,#customizationui-widget-panel label,.autocomplete-richlistitem .ac-title,#widget-overflow-list toolbarbutton,#mainPopupSet menupopup menuitem,#mainPopupSet menupopup menu,#bookmarks-menu-button menu menupopup,#PopupSearchAutoComplete .autocomplete-tree.plain.search-panel-tree,#PanelUI-contents toolbarbutton,#sidebar-switcher-target,#alltabs_containersTab {
color:var(--uc-text-color)!important
}

#alltabs-popup,#alltabs_containersMenuTab {
border:none!important
}

#alltabs_containersMenuTab {
-moz-appearance:none!important;
background-color:transparent!important;list-style-image: none !important;
}

#placesContext,#contentAreaContextMenu,#contentAreaContextMenu menupopup,#page-action-mainView,.textbox-contextmenu {
-moz-appearance:none!important;
background-color:var(--uc-dark-bkgnd-color)!important;
border:none;list-style-image: none !important;
}

#placesContext menuitem,#contentAreaContextMenu menuitem,#contentAreaContextMenu menu,.textbox-contextmenu menuitem {
color:var(--uc-text-color)!important;
-moz-appearance:none
}

#placesContext menuitem,#contentAreaContextMenu #context-navigation:not([hidden])~menu,#contentAreaContextMenu #context-navigation:not([hidden])~menuitem {
min-height:20px!important;
height:16px
}

#placesContext menuitem[disabled="true"],#contentAreaContextMenu menuitem[disabled="true"],#mainPopupSet menupopup menuitem[disabled="true"],#BMB_bookmarksPopup menuitem[disabled],.textbox-contextmenu menuitem[disabled] {
color:RED!important;
}

#placesContext menuitem:hover,#contentAreaContextMenu menuitem:hover,#contentAreaContextMenu menu:hover,#contentAreaContextMenu menu[open],.textbox-contextmenu menuitem:hover {
background-color:transparent /* Right Click Menu Hover Ghost Background */;
border:none;
}

.autocomplete-richlistbox {
background-color:var(--uc-dark-bkgnd-color)!important
}

#PopupAutoCompleteRichResult .ac-title,#PopupAutoCompleteRichResult .search-one-offs,.search-panel-input-value {
color:var(--uc-text-color)!important
}

#PopupSearchAutoComplete {
background-color:var(--uc-light-bkgnd-color)!important;
color:var(--uc-text-color)!important
}

.search-panel-one-offs,.downloadsPanelFooterButton:not(:hover),#overflowMenu-customize-button:not(:hover) {
background-color:red!important
}

menuseparator {
-moz-appearance:none;
padding:0;
border-top:0px solid #333;
border-bottom:0 solid #048
}

menulist > menupopup > menuseparator {
padding:6px 0 5px;
border-top:1px solid red;
border-bottom:none
}

menu,menuitem,menucaption {
-moz-appearance:menuitem;
-moz-box-align:center;
color:#fff!important
}

menuitem[default="true"] {
font-weight:400!important
}

/* File Menu Background Color */
menupopup:not([id="BMB_bookmarksPopup"]),
#BMB_bookmarksPopup menupopup[placespopup=true] > hbox
{
  -moz-appearance: none !important;
  border-radius: 0px !important;
  font-weight: normal !important;
  border: 0px dotted #09f !important;
  border-left: 0 !important;
  border-top: 0px solid #09f !important;border-radius:0px!important;
  box-shadow: 0 0px 0 rgba(0,0,0,0) inset,
        0 0 6px hsla(0,0%,0%,0) !important;
  background-color: #282C30ee !important;
  background-image: linear-gradient(to bottom,
                #5555,
                #2222
                ) !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

menu, menuitem, .splitmenu-menuitem
{
  -moz-appearance: none !important /* Allow Blue Background for File Menu Items*/; 
  color: rgb(165, 165, 165); /* File Menu Item Color */;
}

menu[_moz-menuactive="true"],
menuitem[_moz-menuactive="true"],
.splitmenu-menuitem[_moz-menuactive="true"]
{
  margin-bottom: 0px;
  border-radius: 0;
  background-color: #06a /* Blue Background for File Menu Items */!important;
  color: rgb(225, 225, 225) !important;
  font-size: 12px !important;
}

menu[disabled="true"],
menuitem[disabled="true"],
.splitmenu-menuitem[disabled="true"],
menu[_moz-menuactive="true"][disabled="true"],
menuitem[_moz-menuactive="true"][disabled="true"],
.splitmenu-menuitem[_moz-menuactive="true"][disabled="true"],
toolbarbutton[disabled="true"] 
{
  color: rgb(90, 90, 90) !important; display:none !important /* Hide Grayed Out - Disabled Menu Items */;
}

menupopup menuitem[_moz-menuactive="true"][disabled="true"]
{
  background-color: rgb(100, 100, 100) !important;
}

.chromeclass-menubar
{
  padding-bottom: 0px !important;
  border-bottom: 0px solid transparent !important;
}

menuitem[default="true"]
{
  font-weight: bold !important;
}

menuitem[label="(Empty)"],
menuitem[label="(Empty)"][_moz-menuactive="true"]
{
  -moz-appearance: none !important;
  color: rgb(191, 117, 43) !important;
  background-color: transparent !important;
  min-height: 20px !important;
  max-height: 20px !important;
border:1px solid red !imporant;
}

#clearcache-menuitem
{
  color: red !important;
}




menu,menuitem,menucaption {
-moz-appearance:menuitem;
-moz-box-align:center;
background: transparent !important;
}

.panel-arrow[side="top"],
.panel-arrow[side="bottom"] {
/*  list-style-image: var(--panel-arrow-image-vertical,
                        url("chrome://global/skin/arrow/panelarrow-vertical-themed.svg"));
*/
    list-style-image: none !important;
  
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.panel-subviews,#mainPopupSet menupopup,#bookmarks-menu-button menu menupopup > hbox,.search-panel-header.search-panel-current-engine,.search-panel-current-input,panelview,.PanelUI-subView {
background-color:var(--uc-dark-bkgnd-color)!important;
border-top:3px solid #31363b !important;position:relative !important;top:50px !important;margin-top:50px !imporant;
}

.panel-subviews, #mainPopupSet menupopup {border:0px solid red !important;}
