/* userChrome.css zDark TCReBorn by JZersche */

#sidebar-header {
    display: none;
}

#sidebar-box[sidebarcommand="tabcenter-reborn_ariasuni-sidebar-action"] {
overflow:hidden!important;
min-width:34px!important;
max-width:34px!important;
position:relative!important;
top:89px!important;
transition:all .2s ease!important;
border-right:2px solid #0088eeff!important;
z-index:2!important;
}

#sidebar-box[sidebarcommand="tabcenter-reborn_ariasuni-sidebar-action"]:hover, 
#sidebar-box[sidebarcommand="tabcenter-reborn_ariasuni-sidebar-action"] #sidebar{
min-width:202px!important;
max-width:202px!important
}

@namespace http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul;

#navigator-toolbox {
margin-top:1px;
--tabs-border-color: #f000!important;
}


/*
#TabsToolbar {
visibility:collapse!important
}

*/

#main-window {
--toolbar-bgcolor:#282C30!important;
}

#tabbrowser-tabs {
background:#282C30;
}
#urlbar {
background:#1f222200 !important;;
border:1px solid #33383c00!important;
}

#pageAction-urlbar-reload-in-urlbar_exe-boss {
filter:invert(100%)
}

#sidebar-box[sidebarcommand="_0ad88674-2b41-4cfb-99e3-e206c74a0076_-sidebar-action"] {
overflow:hidden!important;
min-width:32px!important;
max-width:32px!important;
position:relative!important;
top:89px!important;
transition:all .2s ease!important;
border-right:2px solid #0088eeff!important;
z-index:2!important
}

#sidebar-box[sidebarcommand="_0ad88674-2b41-4cfb-99e3-e206c74a0076_-sidebar-action"] #sidebar {
position:relative;
height:100.25%!important;
top:-1px;
min-width:207px!important;
max-width:207px!important;
}

#sidebar-box[sidebarcommand="_0ad88674-2b41-4cfb-99e3-e206c74a0076_-sidebar-action"]:not([hidden="true"]) {
margin-left:0!important;
background-color:#282c30!important;
margin-top:0!important;
border-top:0 solid #ff363b!important;
display:inline-block;
border-top-right-radius:0!important
}

#sidebar-splitter #appcontent {
margin-left:0!important;
background-color:#0ff!important
}

#browser-panel {
background-color:#f22!important;
}

#sidebar-box[sidebarcommand="_0ad88674-2b41-4cfb-99e3-e206c74a0076_-sidebar-action"]:hover {
min-width:210px!important;
max-width:210px!important
}

#sidebar-box[sidebarcommand="_0ad88674-2b41-4cfb-99e3-e206c74a0076_-sidebar-action"] #sidebar-header,#sidebar-box[sidebarcommand="_0ad88674-2b41-4cfb-99e3-e206c74a0076_-sidebar-action"] ~ #sidebar-splitter {
display:none
}

#sidebar-box[sidebarcommand="_0ad88674-2b41-4cfb-99e3-e206c74a0076_-sidebar-action"] #sidebar-header {
background-color:LIME!important;
border-bottom:1px solid red!important
}

#sidebar-box[sidebarcommand="_0ad88674-2b41-4cfb-99e3-e206c74a0076_-sidebar-action"] #sidebar {
height:calc(70vh - 16px);
border-top:1px solid #272b2f!important;
margin-top:0!important
}

#main-window[inFullscreen] #appcontent {
margin-left:0!important
}

#main-window[privatebrowsingmode="temporary"] #TabsToolbar,#main-window[inFullscreen] #TabsToolbar {
background-color:#fff;
}

#main-window[privatebrowsingmode="temporary"] #tabbrowser-tabs,#main-window[inFullscreen] #tabbrowser-tabs {
visibility:visible!important
}

#main-window[inFullscreen][inDOMFullscreen] #tabbrowser-tabs {
visibility:collapse!important
}

#main-window[inFullscreen] #sidebar-box[sidebarcommand="_0ad88674-2b41-4cfb-99e3-e206c74a0076_-sidebar-action"] {
display:none!important
}
/* Browser Color */
#navigator-toolbox > toolbar:not(#TabsToolbar):not(#toolbar-menubar),
.browserContainer > findbar,#browser-bottombox,#toolbar-menubar{
background-color:#282C30!important;border:0 solid transparent!important}
#TabsToolbar-customization-target{background:#282C30!important;}

#nav-bar-customization-target {
margin:0 2px
}

#window-controls {
filter:invert(75%)
}

#nav-bar toolbarpaletteitem[id^="wrapper-customizableui-special-spring"],#nav-bar toolbarspring {
-moz-box-flex:1!important
}

.findbar-button:hover {
color:#ddd!important
}

.findbar-button[checked="true"]:not(:hover) {
color:#fff!important
}

:root[uidensity="compact"] #nav-bar[brighttext] > #PanelUI-button {
border-image-source:linear-gradient(transparent 4px,rgba(100%,100%,100%,.2) 44x,rgba(100%,100%,100%,.2) calc(100% - 4px),transparent calc(100% - 4px))
}

:root[uidensity="compact"] #PanelUI-button {
margin-inline-start:3px;
border-inline-start:1px solid;
border-image:linear-gradient(transparent 4px,rgba(0,0,0,.1) 4px,rgba(0,0,0,.1) calc(100% - 4px),transparent calc(100% - 4px));
border-image-source:linear-gradient(transparent 4px,rgba(0,0,0,0.1) 4px,rgba(0,0,0,0.1) calc(100% - 4px),transparent calc(100% - 4px));
border-image-slice:100%;
border-image-slice:1
}

#navigator-toolbox::after {
content:"";
background:#303030!important;
display:-moz-box;
border-bottom:1px solid #303030
}

.PanelUI-subView .toolbaritem-combined-buttons > .subviewbutton:not(.subviewbutton-iconic) {
padding:0 10px!important;
background-color:#09f!important;
border:0 solid #222!important;
border-radius:6px!important
}

menupopup:not([id="BMB_bookmarksPopup"]),#BMB_bookmarksPopup menupopup[placespopup=true] > hbox {
background-color:#064e9d!important
}

:root {
--uc-dark-bkgnd-color: rgba(49,54,59,0.975);
--uc-light-bkgnd-color:#ff0;
--uc-active-color:#404040;
--uc-text-color:#c3c6c9;
--uc-border-color:#767676
}

.panel-subview-body {
overflow-y:auto;
overflow-x:hidden;
-moz-box-flex:1;
padding:6px 0;
background:#282C30;
background-image:url()!important;
}


/** Context Menu Border **/
:root {
--uc-border-color:#fff3!important
}

#navigator-toolbox::after {
content:"";
display:-moz-box;
border-bottom:0 solid var(--chrome-content-separator-color)!important
}

.panel-subviews,#mainPopupSet menupopup,#bookmarks-menu-button menu menupopup > hbox,.search-panel-header.search-panel-current-engine,.search-panel-current-input,panelview,.PanelUI-subView {
border-top:0 solid #064e9d!important;
background-color:var(--uc-dark-bkgnd-color)!important
}

panelview {
color:#fff!important
}

.subviewbutton:hover,#PanelUI-contents toolbarbutton:hover {
background-color:#06a!important
}

menupopup:not([id="BMB_bookmarksPopup"]),
#BMB_bookmarksPopup menupopup[placespopup=true] > hbox
{
  -moz-appearance: none !important;
  border-radius: 6px !important;
  font-weight: normal !important;
  border: 0px dotted #09f !important;
  border-left: 0 !important;
  border-top: 0px solid #09f !important;
  box-shadow: 0 0px 0 rgba(0,0,0,0) inset,
        0 0 6px hsla(0,0%,0%,0) !important;
  background-color: rgb(49,54,59) !important;
  background-image: linear-gradient(to bottom,
                rgba(30,30,30,0.0),
                rgba(30,30,30,0.0)
                ) !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
menuseparator
{
  -moz-appearance: none !important;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  border-top: 0px solid !important;
  border-bottom: 0px solid !important;
  height: 0px !important;
  background: linear-gradient(to right, #151515 0%, #151515 100%), linear-gradient(to right, #303030 0%, #303030 100%) !important;
  background-repeat: no-repeat, no-repeat !important;
  background-size: 100% 0px , 100% 0px !important;
  background-position: top center, bottom center !important;
  background-color: transparent !important;
}
arrowscrollbox:not([clicktoscroll="true"]) > .scrollbutton-up, arrowscrollbox:not([clicktoscroll="true"]) > .scrollbutton-down {
    -moz-appearance: none;
    border: 0px solid transparent;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-inline-start: 1px;
    padding-inline-end: 1px;
    filter: invert(100 );
    background: #fff1;
}
arrowscrollbox:not([clicktoscroll="true"]) > .scrollbutton-up:not([disabled="true"]):hover, arrowscrollbox:not([clicktoscroll="true"]) > .scrollbutton-down:not([disabled="true"]):hover {
    margin: 1px;
    border: 0px inset ThreeDFace !important;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-inline-start: 1px;
    padding-inline-end: 1px;
    background: #fff1;
}

menu,menuitem,.splitmenu-menuitem {
-moz-appearance:none!important;
color:#a5a5a5
}

#mainPopupSet menupopup menuitem:hover {
background-color:#06a!important;
border-radius:8px !important;
}
#mainPopupSet menupopup menuitem:nth-of-type(1):hover {}
#mainPopupSet menupopup menu:hover {
background-color:#282c30!important
}

#widget-overflow-mainView > .panel-subview-body > toolbarseparator,.PanelUI-subView menuseparator,.PanelUI-subView toolbarseparator,.cui-widget-panelview menuseparator,.cui-widget-panel toolbarseparator {
margin:0
}

:root {
--browser-background:#38383d--uc-light-bkgnd-color:#06a;
--uc-active-color:#404040;
--uc-text-color:#c3c6c9
}

tabbrowser tabpanels {
background-color:var(--browser-background)!important
}

#context-navigation {
background-color:transparent!important
}

#sidebar-box {
background-color:hsl(240,7%,5%)!important
}

toolbarbutton[checked="true"]:not([disabled="true"]) {
color:inherit!important
}

#sidebar-header,.sidebar-splitter {
border-color:hsl(240,3%,20%)!important
}

.sidebar-placesTree {
color:#aaa!important
}

#mainPopupSet menupopup menuitem,#mainPopupSet menupopup menu {
min-height:24px!important
}

.panel-arrowcontent,#placesContext,#alltabs-popup .arrowscrollbox-scrollbox,#contentAreaContextMenu,.textbox-contextmenu,#mainPopupSet menupopup,#bookmarks-menu-button menu menupopup {
border:1px solid var(--uc-border-color)!important;
background:var(--uc-dark-bkgnd-color)!important;
color:var(--uc-text-color)!important
}

#alltabs-popup menuitem,#bookmarks-menu-button menu menupopup .subviewbutton {
color:var(--uc-text-color)!important
}

#mainPopupSet menupopup,#mainPopupSet menupopup menuitem,#mainPopupSet menupopup menu,#alltabs-popup,#bookmarks-menu-button menu menupopup {
-moz-appearance:none!important;
border:none
}

.panel-subviews,#mainPopupSet menupopup,#bookmarks-menu-button menu menupopup > hbox,.search-panel-header.search-panel-current-engine,.search-panel-current-input,panelview,.PanelUI-subView {
background-color:var(--uc-dark-bkgnd-color)!important
}

#BMB_bookmarksPopup {
background-color:unset!important
}

#PanelUI-footer toolbarbutton:not(#PanelUI-quit):hover {
background-color:red!important
}

#PanelUI-footer *,panelview toolbarbutton.subviewbutton .toolbarbutton-text,#downloadsFooter,#customizationui-widget-panel label,.autocomplete-richlistitem .ac-title,#widget-overflow-list toolbarbutton,#mainPopupSet menupopup menuitem,#mainPopupSet menupopup menu,#bookmarks-menu-button menu menupopup,#PopupSearchAutoComplete .autocomplete-tree.plain.search-panel-tree,#PanelUI-contents toolbarbutton,#sidebar-switcher-target,#alltabs_containersTab {
color:var(--uc-text-color)!important
}

#alltabs-popup,#alltabs_containersMenuTab {
border:none!important
}

#alltabs_containersMenuTab {
-moz-appearance:none!important;
background-color:transparent!important;
list-style-image:none!important
}

#placesContext,#contentAreaContextMenu,#contentAreaContextMenu menupopup,#page-action-mainView,.textbox-contextmenu {
-moz-appearance:none!important;
background-color:var(--uc-dark-bkgnd-color)!important;
border:none;
list-style-image:none!important
}

#placesContext menuitem,#contentAreaContextMenu menuitem,#contentAreaContextMenu menu,.textbox-contextmenu menuitem {
color:var(--uc-text-color)!important;
-moz-appearance:none
}

#placesContext menuitem,#contentAreaContextMenu #context-navigation:not([hidden])~menu,#contentAreaContextMenu #context-navigation:not([hidden])~menuitem {
min-height:20px!important;
height:16px
}

#placesContext menuitem[disabled="true"],#contentAreaContextMenu menuitem[disabled="true"],#mainPopupSet menupopup menuitem[disabled="true"],#BMB_bookmarksPopup menuitem[disabled],.textbox-contextmenu menuitem[disabled] {
color:#fff!important
}

#placesContext menuitem:hover,#contentAreaContextMenu menuitem:hover,#contentAreaContextMenu menu:hover,#contentAreaContextMenu menu[open],.textbox-contextmenu menuitem:hover {
background-color:transparent;
border:none
}

.autocomplete-richlistbox {
background-color:var(--uc-dark-bkgnd-color)!important
}

#PopupAutoCompleteRichResult .ac-title,#PopupAutoCompleteRichResult .search-one-offs,.search-panel-input-value {
color:var(--uc-text-color)!important
}

#PopupSearchAutoComplete {
background-color:var(--uc-light-bkgnd-color)!important;
color:var(--uc-text-color)!important
}

.search-panel-one-offs,.downloadsPanelFooterButton:not(:hover),#overflowMenu-customize-button:not(:hover) {
background-color:#fff!important
}

menuseparator {
-moz-appearance:none;
padding:0;
border-top:0 solid #333;
border-bottom:0 solid #048
}

menulist > menupopup > menuseparator {
padding:6px 0 5px;
border-top:1px solid red;
border-bottom:none
}

menu,menuitem,menucaption {
-moz-appearance:menuitem;
-moz-box-align:center;
color:#fff!important
}

menuitem[default="true"] {
font-weight:400!important
}

/** Context Menu Items **/
menu[_moz-menuactive="true"],menuitem[_moz-menuactive="true"],.splitmenu-menuitem[_moz-menuactive="true"] {
margin-bottom:0;
border-radius:0;
background-color:#06a!important;
color:#e1e1e1!important;
font-size:12px!important
}

menu[disabled="true"],menuitem[disabled="true"],.splitmenu-menuitem[disabled="true"],menu[_moz-menuactive="true"][disabled="true"],menuitem[_moz-menuactive="true"][disabled="true"],.splitmenu-menuitem[_moz-menuactive="true"][disabled="true"],toolbarbutton[disabled="true"] {
color:#5a5a5a!important;
display:none!important
}

menupopup menuitem[_moz-menuactive="true"][disabled="true"] {
background-color:#646464!important
}

.chromeclass-menubar {
padding-bottom:0!important;
border-bottom:0 solid transparent!important
}

menuitem[default="true"] {
font-weight:700!important
}

menuitem[label="(Empty)"],menuitem[label="(Empty)"][_moz-menuactive="true"] {
-moz-appearance:none!important;
color:#bf752b!important;
background-color:transparent!important;
min-height:20px!important;
max-height:20px!important;
border:1px solid red !imporant
}

#clearcache-menuitem {
color:red!important
}

menu,menuitem,menucaption {
-moz-appearance:menuitem;
-moz-box-align:center;
background:transparent!important
}

.panel-arrow[side="top"],.panel-arrow[side="bottom"] {
opacity:0;
position:relative;
margin-left:10px;
margin-right:10px
}

/** Context Menu Border Radius **/
.panel-subviews, #mainPopupSet menupopup {
    border: 0px solid #f00;
    border-radius:8px !important;
}

.panel-arrowcontent, #placesContext, #alltabs-popup .arrowscrollbox-scrollbox, #contentAreaContextMenu, .textbox-contextmenu, #mainPopupSet menupopup, #bookmarks-menu-button menu menupopup {

    border: 1px solid var(--uc-border-color) !important;
    color: var(--uc-text-color) !important;

}

.tab-label {
white-space:nowrap;
background:transparent!important
}

.tab-label-container {
overflow:hidden;
background:transparent!important
}

.bookmark-item > .toolbarbutton-text {
margin-top:-1px!important
}

.bookmark-item {
margin:-1px!important
}

.bookmark-item:not([container]):not([open="true"]) > .toolbarbutton-text {
display:none!important
}

.bookmark-item:not([container]):not([open="false"]):hover > .toolbarbutton-text {
display:block!important;
background:transparent!important
}

.bookmark-item:not([container]):not([open="false"]):hover > .toolbarbutton-icon[label]:not([label=""]) {
margin-inline-end:0!important;
background:transparent!important
}

.bookmark-item:not([container]):hover {
margin-inline-end:0!important;
background:#067aa!important
}

.active .tab-loading-burst, /*.tab.active,*/ .tab.active:hover {
color: #0f0f;padding-right:10px!important;diplay:block!important;
background:#0000;
border-left:6px solid #fff0;
transition: 1000ms ease-in-out !important;
height:0px;
}

.active .tab-loading-burst {
top:10px;left:200px;border-radius:10px;
}

